body {
    font-family: sans-serif;
  }
  button {
    margin: 0 auto;
    margin-top: 50px;
    
  }
  /* a.gallery-item {
    text-decoration: none;
  } */
  button:disabled {
    background-color: #c1c1c1;
    cursor: not-allowed;
  }
  button.hidden {
    display: none;
  }
  /* img {
    display: block;
    max-width: 100%;
    height: auto;
} */
.gallery {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;}
 
input
 {
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 30px;
}

button {
    border-radius: 15px;
  padding: 10px 20px;
  font-size: 30px;

  border: none;
  background-color: rgba(233, 45, 45, 0.731);
  color: white;
  cursor: pointer;
}
.load-more {
    margin: 0 auto;
    margin-top: 30px;
    display: block;
}
.info {
    width: 100%;
    padding: 2px;}

    .gallery-item{
        background-color: #e5e3e3;
        height: 100%;
        display: block;
        text-align: center;
    border-radius: 15px;
    text-decoration: none;
}
    
    .info-item {
        display: block;
        margin: 5px;
        color: black;
       
     
    }
    


/* .gallery-item{
    height: 100%;
    display: block;
    width: calc((100% - 36px)/4);
}
 






/* .img-item{
    height: 100%;
    display: block;
text-decoration: none;
color: inherit;
width: calc((100% - 36px)/4);
}
.gallery-item{
    height: 200px;
    width: 100%;
    object-fit: cover;
    
}   */